header {
    display: flex;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    align-items: center;
    justify-content: right;
    color: #065a8d;
    background-color: #e5e7e9;
    height: 60px;
}

.User {
    margin-right: 40px;
}

.User i {
    font-size: 30px;
    font-weight: bold;
    top: 0;
    padding-right: 8px;
}

.User span {
    font-size: 25px;
    font-weight: bold;
}